*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
header{
  width: 100%;
  height: 20%;
  background-color:#24252A;
  display: flex;
  justify-content: space-between;
}
.heading{
  padding: 10px;
  padding-left: 40px;
}
.heading1{
  font-size: 40px;
}
.navinternal{
  padding: 15px;
  padding-right: 40px;
}

.searchbar{
  height: 35px;
  border-radius: 10px;
  text-align: center;
}
.nav_links li a :hover{
  color: #0088a9
}

h1{
  text-align: center;
  padding-top: 30px;
}
.card{
  text-align: center;
  padding: 20px;
}

.card-title{
  font-size: 25px;
}

textarea{
  width:70%;
  height: 120px;
}

li, a, button{
  
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 30px 10px;
}

button{
  padding: 9px 25px;
  background-color: rgb(62, 180, 209);
  border: none;
  border-radius: 50px;
  cursor: pointer;

}
button:hover{
  background-color: rgb(18, 106, 117);
}

.flex-wrap{
  display: flex;
  flex-direction: row;
  padding: 15px;
}